*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#app-container{
    border: 1px solid red;
    height: 500px;
    padding: 20px;
}
#weather-info{
    border: 1px solid red;
    min-height: 420px
}
h1{
    color: blue;
}